<div class="container">
    <div class="card shadow">
        <div class="table-responsive">
            <div class="table-wrapper">
                <form [formGroup]="datosVenta">
                    <div class="table-title">
                        <div>
                            <div>
                                <h2 class="text-center">Caja de ventas</h2>
                            </div>
                        </div>
                        <hr>
                        <div class="alert alert-warning">
                            <strong>¡Alerta!</strong> Todos los campos son obligatorios!
                        </div>
                        <hr>
                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <span>Datos del cliente</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <h2 class="text-center">
                                        Datos del Cliente
                                    </h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <label>Identificación:</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Ingrese número de documento"
                                                        formControlName="identificacion">
                                                    <span class="text-danger ml-1"
                                                        *ngIf="datosVenta.get('identificacion').hasError('required') && datosVenta.get('identificacion').touched">
                                                        La identificación <strong>es requerido</strong>
                                                    </span>
                                                </div>
                                                <div class="col-md-4 botones">
                                                    <button class="btn" style="background-color: #a0a5b1; color: black;"
                                                        type="button" (click)="buscar()"><i
                                                            class="fas fa-search"></i></button>
                                                    <button class="btn boton"
                                                        style="background-color: #0066FF; color: white;" type="button"
                                                        routerLink="/ventas/nuevoCliente"><i
                                                            class="fas fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Nombre del cliente:</label>
                                            <input type="text" class="form-control"
                                                placeholder="Consulte la informacion" formControlName="nombre"
                                                readonly="readonly">
                                            <span class="text-danger ml-1"
                                                *ngIf="datosVenta.get('nombre').hasError('required') && datosVenta.get('nombre').touched">
                                                El nombre es <strong>es requerido</strong>
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <span>Articulos</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <h2 class="text-center tituart">Articulos</h2>
                                    <app-lista-articulos (enviarArticulo)="guardarDetalle($event)">
                                    </app-lista-articulos>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <span>Articulos a llevar</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <h2 class="text-center titulo">
                                        Articulos a Llevar
                                    </h2>
                                    <div class="alert alert-info">
                                        <strong>¡Información!</strong> Seleccione el artículo antes de retirarlo!
                                    </div>
                                    <table class="table table-striped table-hover table-bordered"
                                        *ngIf="listDetalleVentas.length>0">
                                        <thead>
                                            <tr>
                                                <th>Referencia</th>
                                                <th>Nombre</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Retirar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let detalleVenta of listDetalleVentas; let i = index">
                                                <td>{{detalleVenta.referencia}}</td>
                                                <td>{{ detalleVenta.nombre }}</td>
                                                <td>{{ detalleVenta.cantidad }}</td>
                                                <td>{{ detalleVenta.precio }}</td>
                                                <td>
                                                    <button class="btn btn-success btn-sm ml-1 mt-1"
                                                        *ngIf="prueba2==false"
                                                        (click)="select(detalleVenta.referencia,detalleVenta.cantidad)">Seleccionar</button>
                                                    <button class="btn btn-danger btn-sm ml-1 mt-1"
                                                        *ngIf="prueba2==true"
                                                        (click)="eliminarPregunta(i)">Eliminar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="listDetalleVentas.length==0">
                                        <h6 class="text-center">No hay articulos para llevar</h6>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                    <hr>

                    <div class="total">
                        <button class="btn btn-primary btn-sm" (click)="actualizar()">Calcular total</button>
                        <label class="label">Total: {{total}}</label>
                    </div>
                    <div class="botonVenta">
                        <button class="btn btn-lg" style="background-color: #0066FF; color: white;"
                            [disabled]="listDetalleVentas.length == 0 || datosVenta.invalid"
                            (click)="guardarVenta()">Finalizar venta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>