<div class="jumbotron text-center">
    <h1>Lista de categorias!</h1>
    <p class="lead text-muted">CATEGORIAS</p>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <button class="btn btn-success btn-block btn-cues" routerLink="/dashboard/nuevaCategoria">NUEVA CATEGORIA</button>
        </div>
    </div>
</div>
<div class="text-center" style="margin-top: -30px;">
    <app-loading *ngIf="loading"></app-loading>
</div>
<div class="card-columns mt-3">
    <div class="card bg-light" *ngFor="let categoria of listCategoria">
        <div class="card-body text-center">
            <h4 class="card-title">{{ categoria.nombreCategoria }}</h4>
            <button class="btn btn-success radius" routerLink="/dashboard/verCategoria/{{ categoria.id }}">VER</button>
            <button class="btn btn-danger radius" (click)="eliminarCategoria(categoria.id)">ELIMINAR</button>
        </div>
    </div> 
</div>
<h3 *ngIf="listCategoria.length == 0 && loading == false">No hay categorias para mostrar</h3>