<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white shadow barra">
  <a class="navbar-brand" href="#" routerLink="/dashboard">
    <img src="./assets/img/logo.png" alt="">
  </a>
    <h5 class="my-0 mr-md-auto font-weight-normal"></h5>  
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 label" routerLink="/ventas" routerLinkActive="active-link">Ventas</a>
      <a class="p-2 label" routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" >Productos</a>
      <a class="p-2 label" routerLink="/dashboard/proveedores" routerLinkActive="active-link">Proveedores</a>
      <a class="p-2 label" routerLink="/dashboard/categorias" routerLinkActive="active-link">Categorias</a>
      <a class="p-2 label" routerLink="/dashboard/gestionarUsuarios" routerLinkActive="active-link">Gestionar Usuario</a>
      <a class="p-2 label" routerLink="/dashboard/gestionarCompra" routerLinkActive="active-link">Gestionar Compras</a>
      <a class="p-2 label" routerLink="/dashboard/reportes" routerLinkActive="active-link">Reportes</a>
      <a class="p-2 label" routerLink="/dashboard/cambiarPassword" routerLinkActive="active-link">Cambiar Password</a>
    </nav>
    <a class="btn btn-primary" (click)="logOut()">
      <i class="fas fa-sign-out-alt"></i>
      Logout</a>
</div>