<a routerLink="/dashboard/register" class="float">
    <i class="fas fa-plus my-float"></i>
    </a>
<div class="text-center" style="margin-top: -30px;">
    <app-loading *ngIf="loading"></app-loading>
</div>
<div class="container">
    <div class="card shadow" >
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Consulta de Usuarios</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="fas fa-search"></i>
                                <input type="text" class="form-control" placeholder="Buscar...">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let usuario of listUsuarios | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td>{{usuario.id}}</td>
                            <td>{{usuario.nombreUsuario}}</td>
                            <td>{{usuario.rolUser}}</td>
                            <td>
                                <a routerLink="/dashboard/gestionarRol/{{ usuario.id }}" class="ver" title="Ver"
                                    data-toggle="tooltip"><i class="fas fa-cog"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="listUsuarios.length" [(page)]="page" [pageSize]="pageSize">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 *ngIf="listUsuarios.length == 0 && loading == false">No hay usuarios para mostrar</h3>